$naverColor : #03c75a;

@mixin after($width,$height,$back){
        display: block;
        content: '';
        width: $width;
        height: $height;
        position: absolute;
        background: $back;
}
@mixin background($url){
    background: url("../img/"+$url)no-repeat center center;
}
@mixin button($backgroundColor){
    width: 100%;
    height: 61px;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: $backgroundColor;
}